<ion-view title="Login" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="login-markdown1">
      <h4>Choose a Platform</h4>

      <p style="color:#000000;">Please choose a way to login.</p>

      <p style="color:#000000;">If it is your first time to use, please choose a way to sign up.</p>
    </div>
    <a ui-sref="menu.home" id="login-button4" class="button button-positive  button-block icon-left ion-social-facebook fb-login">Facebook</a>
    <a ui-sref="menu.home" id="login-button5" class="button button-assertive  button-block icon-left ion-social-googleplus g+-login">Google plus</a>
    <a ui-sref="menu.home" id="login-button6" class="button button-positive  button-block icon-left ion-social-twitter tw-login">Twitter</a>
  </ion-content>
</ion-view>