<ion-view title="Login" id="page5" style="">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.timeLine" id="login-button1" class="button button-positive  button-block">Facebook</a>
    <a ui-sref="tabsController.timeLine" id="login-button2" class="button button-assertive  button-block">Google +</a>
    <a ui-sref="tabsController.timeLine" id="login-button3" class="button button-calm  button-block">Twitter</a>
    <div id="login-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Or you want to create a
        <a href="">new account</a> ?</p>
    </div>
  </ion-content>
</ion-view>