<ion-view title="Post" id="page2" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-cancel" ui-sref="tabsController.timeLine"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header" ui-sref="tabsController.timeLine">
    <button class="button button-icon icon ion-android-checkbox-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="post-form1" class="list">
      <div id="post-container2">
        <form id="post-form3" class="list">
          <label class="item item-input item-floating-label" id="post-input6">
            <span class="input-label">Post text</span>
            <input placeholder="I think..." type="text">
          </label>
          <label class="item item-input" id="post-input5">
            <input placeholder="Where" type="text">
          </label>
          <label class="item item-input" id="post-input7">
            <input placeholder="I feel" type="text">
          </label>
          <label class="item item-input" id="post-input8">
            <input placeholder="pictue or video" type="text">
          </label>
          <label class="item item-input" id="post-input9">
            <input placeholder="Url" type="text">
          </label>
          <ion-checkbox style="">Facebook</ion-checkbox>
          <ion-checkbox style="">Google +</ion-checkbox>
          <ion-checkbox style="">Twitter</ion-checkbox>
        </form>
      </div>
    </form>
  </ion-content>
</ion-view>